%li.row
  .desc= filling_task.desc
  =link_to "/users/#{@user.id}/filling_tasks/#{filling_task.id}", :method => :delete, :remote => true, :class => 'delete btn btn-rounded btn-flat-danger btn-mini', :data => {:confirm => '是否删除?'} do
    %i.fa.fa-trash-o
    %span 删除