.row
  .col-pad-8.col-pad-offset-2
    .page-users-list
      %h2.title 人员配置
      .flash-success=flash[:success]
      %ul.list
        %li.row
          .email.header 邮箱
          .name.header 用户名
        - User.all.each do |user|
          %li.row
            .email= user.email
            .name= user.name

      .action
        %a.add-user.btn.btn-rounded.btn-bdb-fresh{:href => "/users/new"}
          .fa.fa-plus
          %span 增加人员
