$fa-font-path: "fonts" !default;
@import "css/lily.scss";

// 登陆页
body.auth{
  background: #333;
  color: rgba(#fff, 0.8);

  .sign-header{
    font-weight: bold;
    font-size: 64px;
    line-height: 100px;
    color: white;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 75px;
  }

  .sign-form{
    background-color: rgba(black, 0.1);
    padding: 20px;
    border-radius: $border-radius-default;

    .title {
      color: $black-30;
      text-shadow: 0 1px black;
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 16px;
    }

    .field {
      margin-bottom: 15px;

      button{
        width: 100%;
      }

      input[type=email], input[type=password], input[type=text] {
        box-shadow:none;
        border-radius:$border-radius-default;
        border:0 none;
        height:32px + 12px;
        &:focus {
          background-color: $area-dawn;
        }
      }

    }

    .auth-msg {
      $c: lighten($area-hot, 12%);
      background-color: $c;
      color:white;
      border-radius:$border-radius-default;
      position: absolute;
      bottom:-60px;
      width:60%;
      text-align: center;
      padding:15px;
      margin-left: $grid-gap;
      font-size: 16px;
      height:24px;line-height:24px; // outer height 54px
      text-shadow: 1px 1px 2px rgba(black, 0.4);

      &:before {
        $w:10px;
        content:"";
        border:solid 10px transparent;
        border-bottom:solid $w $c;
        position: absolute;
        top: -20px;
      }

      &.success {
        background-color: $area-success;
        &:before {
          border-bottom-color: $area-success;
        }
      }

    }

  }
}


// 登陆后的顶部导航
body{
  background-color: #f2f2f2;

  .page-header {
    background-color: #323232;
    color: #fff;

    .page-nav {
      height: 50px;
      line-height: 50px;

      a {
        color: #fff;
        display: block;
        float: left;
        padding: 0 30px 0 0;
        opacity: 0.6;
        font-size: 14px;

        i {
          margin-right: 5px;
        }

        &:hover, &.active{
          text-decoration:none;
          opacity: 1;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      &.home {
        a {
          width:100%;
          padding:0;
          &:hover {
            background-color: inherit;
          }
        }
      }

      &.logout{
        a.logout{
          float: right;
        }
      }

    }
  }

  .page-content{
    margin-top: 30px;
    margin-bottom: 50px;

    h2.title {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 16px;
      color: gray;
      text-shadow: 0 1px #fff;
    }

    .page-users-form{
      padding: 50px;
      background-color: #FFF;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);


      .users{
        .user{
          $g: 20px;
          @include clearfix;
          margin:0 $g / -2;
          margin-bottom:10px;

          .icon{
            @include col(1/12, $gap:$g);
            i {
              font-size: 24px;
              height:35px;line-height: 35px;
              position:relative;
              top:3px;
              float: right;
              color: $black-30;
            }
            &.check i {
              float: left;
              color: $area-forest;
              display: none;
            }
          }

          .ipt{
            @include col(5/12, $gap:$g);

            input[type=text] {
              display: block;
              width:100%;
              font-size: 16px;
              line-height: 24px;
              border:0 none;
              border-bottom:dotted 1px $black-40;
              box-shadow: none;
              padding:5px 0;
              &:focus {
                outline: 0;
              }
            }
          }

          &.focus {
            .icon.u i {color:$area-forest;}
          }
          &.ok {
            .icon.check i {display:inherit;}
          }

        }
      }

      .submit {
        margin-top: 40px;
      }
    }

    .page-users-list{
      padding: 50px;
      background-color: #FFF;
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.07);

      ul.list{
        padding: 10px;
        li{
          padding: 15px 0; 
          $g: 20px;
          list-style-type:none;
          margin: 0 5px;
          border-bottom:dotted 1px $black-40;

          .email{
            @include col(6/12, $gap:$g);
            &.header{
              font-weight:bold;
            }
          }

          .name{
            @include col(6/12, $gap:$g);
            &.header{
              font-weight:bold;
            }
          }
        }
      }

      .action{
        margin-top: 50px;
      }
    }
  }
}