.row
  .page-nav.home.col-pad-2
    %a{:href => '/'}
      %i.fa.fa-home
      %span 首页
  .page-nav.logout.col-pad-10
    %a.logout{:href => '/sign_out'}
      %i.fa.fa-sign-out
      %span 退出登录
